# dependencies
/node_modules

# Next.js build output
/.next/
/out/
/build

# test coverage
/coverage

# environment variables
.env*

# macOS
.DS_Store

# logs
npm-debug.log*

# Vercel deployment
.vercel
